@media (max-width: 768px) {
  #app {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: auto;
    grid-template-areas: "h" "s" "m" "f"; }
  .blackish.column:before, .blackish.column:after {
    display: none; } }
