@media (max-width: 768px) {
  #app {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: auto;
    grid-template-areas: "h" "s" "m" "f"; }
  .blackish.column:before, .blackish.column:after {
    display: none; }
  .item-detail .quantity-select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .item-detail .quantity-select .field {
      margin-bottom: 1em; } }
